@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.c-intoBar {
    margin-top: 2rem;
    margin-left: 11rem;
    display: flex;

    &__contentSearch{
        border-bottom: 2px solid white;
    }

    &__search{
       margin-top: 1.8rem;
       margin-right: 35rem;
       height: 2rem;
       font-size: 24px;
       width: 12rem;
       background-color: black;
       border: none;
       outline: none;
       color: white;
    }
    &__img {
        margin-right: 1rem;
        cursor: pointer;
    }

    &__imghouse{
        margin-right: 1rem;
        margin-bottom: 0.65rem;
    }

    &__link{
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }

    &__button{
        margin-left: 35rem;
        padding-left: 50rem;
        position: absolute;
    }

    &__imgBack{
      font-family: 'Lato';
      text-decoration: none;
      color: white;
      font-size: 24px;
      margin-right: 1rem;

      span{
        margin-bottom: 3rem;
      }
  }
}




@media only screen and (max-device-width: 480px)  { 
  .c-intoBar {
    top:10;
    font-size: 3vw;
    margin-top: 1rem;
    width: 80%;
    margin-left: 0;
    margin: auto;

  &__contentSearch{
    width: 100%;
    margin-top: 2rem
  };

  &__search{
    font-size: 1rem;
  }
  &__imghouse{
    
  }
  &__img {
  display: none;
  cursor: pointer;
}
&__link {
  display: none;
  cursor: pointer;
}
  }

.iconSearch{
  display: none;
}

}